@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Poppins-LightItalic;
  src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 300;
}

:root{
  --blue: #0074b4;
  --yellow: #f7ea55;
  --orange: #f08f3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit
}
html {
  font-family: Poppins;
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  max-width: 365px;
  margin: 0 auto;
}
header {
  height: 60vw;
  background-color: var(--blue);
}
header img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
main {
  /* background: url(../images/bg.png) no-repeat center center;
  background-size: cover; */
  overflow-x: hidden;

  padding: 16px 0;
}
h2 {
  font-family: Poppins-Medium;
}
main h2 {
  margin-bottom: 10px;
}
#about {
  text-align: center;
  font-size: 0.875rem;
  padding: 15px 0;
  margin-bottom: 70px;
}
#about p,
#programs > p,
.course {
  padding: 0 30px;
}
#programs > p {
  font-size: 0.75rem;
  margin-bottom: 50px;
}

.course {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.course > img,
.course > div {
  width: 45%;
}
.course > img {
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.course1 h2,
.course4 h2 {
  color: var(--orange);
}
.course2 h2 {
  color: var(--blue);
}
.course3 h2 {
  color: var(--yellow);
}

.course p {
  font-family: Poppins-Light;
  font-size: 0.625rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.course button {
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  padding: 6px 16px;
  text-align: center;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  border-radius: 16px;
}
.course1 button,
.course4 button {
  background-color: var(--orange);
}
.course2 button {
  background-color: var(--blue);
}
.course3 button {
  background-color: var(--yellow);
}

.course > div > img {
  position: relative;
  top: 2px;
  left: 5px;
}
.progs {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 15px 0 15px;
  width: 365px;
  margin-bottom: 55px;
}
.progs1, .progs4 {
  background-color: var(--orange);
}
.progs2 {
  background-color: var(--blue);
}
.progs3 {
  background-color: var(--yellow);
}

.progs > div {
  width: 40%;
  padding-top: 40%;
  position: relative;
  margin-bottom: 15px;
}
.progs > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
  border-radius: 7.5px;
}
.standards {
  margin-bottom: 60px;
}
.testi {
  font-family: Poppins-LightItalic; 
  text-align: center;
  font-size: 0.6rem;
  padding-top: 26px;

  position: relative;
}
.testi img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.testi p {
  margin-bottom: 20px;
}
.testi strong {
  font-family: Poppins-Medium;
}
